In [96]:
import pandas as pd

books = pd.read_csv('2024BookList.csv')
print(books.head())

                                             Title                Author  \
0                          Fleabag: The Scriptures  Phoebe Waller-Bridge
1    Succession - Season Two: The Complete Scripts       Jesse Armstrong
2   Succession - Season Four: The Complete Scripts       Jesse Armstrong
3    Succession – Season One: The Complete Scripts       Jesse Armstrong
4  Succession - Season Three: The Complete Scripts       Jesse Armstrong

          Download_Timestamp      Format           ISBN  \
0  2023-09-07T16:02:31-08:00   mobi, pdf  9780593158272
1  2023-09-07T16:28:34-08:00  epub, mobi  9780571379750
2  2023-09-07T16:34:17-08:00   mobi, pdf  9780571384037
3  2023-09-07T16:34:45-08:00  epub, mobi  9780571384006
4  2023-09-07T16:34:54-08:00   mobi, pdf  9780571384020

                                         Identifiers Languages  \
0  asin:B07VYS3CPP,barnesnoble:1132922667,google:...       eng
1  barnesnoble:1143351927,isbn:9780571379750,goog...       eng
2  google:uNy8EAAAQBAJ,mobi-asin:B0C44SBX23,isbn:...       eng
3  google:dj6rEAAAQBAJ,isbn:9780571384006,amazon:...       eng
4  barnesnoble:1143351930,mobi-asin:B0C26Y815C,am...       eng

            Publication_Date                      Publisher      Series  ...  \
0  2019-11-26T00:00:00-08:00  Random House Publishing Group         NaN  ...
1  2023-05-17T17:24:03-08:00                  Faber & Faber  Succession  ...
2  2023-07-17T23:00:00-08:00                  Faber & Faber  Succession  ...
3  2023-05-29T17:22:43-08:00                  Faber & Faber  Succession  ...
4  2023-05-29T23:00:00-08:00                  Faber & Faber  Succession  ...

                                                Tags  \
0  Performing Arts, Television, Genres, Comedy, D...
1                                                NaN
2                       Performing Arts, Screenplays
3                       Performing Arts, Screenplays
4                       Performing Arts, Screenplays

                                   UUID  \
0  7ec2cfda-144f-4878-b9e6-fb3018035062
1  b787f8e6-54ee-42c2-a1b1-7c80df247cf3
2  25fde7ad-d9f7-4269-bcd4-13fcda0d6877
3  30c3e33c-6174-4706-b3f1-75c8c7fdf500
4  37a91f99-e8c0-4961-83c6-a013275fd5a6

                                            Comments USD Sale Price  \
0  Go deeper into the groundbreaking, Golden Glob...          14.99
1  The complete, authorised scripts, including de...          21.99
2                                                NaN          21.99
3  The complete, authorised scripts, including de...          21.99
4  The complete, authorised scripts, including de...          21.99

  Page Count  Categories  Width Thickness  Height  Weight
0        432      Script   6.20      1.36    8.77    1.35
1        784      Script  12.99      7.48   13.39     2.3
2        656      Script   6.00      2.00    9.00    2.48
3        768      Script  12.99      7.48   13.39    2.25
4        720      Script  12.99      7.48   13.39    2.11

[5 rows x 22 columns]

In [ ]:
#Finding Authours from the year
author_counts = books.groupby('Author')['Title'].count().reset_index()
author_counts.columns = ['Author', 'Title Count']

top_authors = author_counts.sort_values(by='Number of Titles Read', ascending=False)
print(top_authors)

# import matplotlib.pyplot as plt

# plt.bar(top_authors['Author'], top_authors['Number of Titles Read'])
# plt.xlabel('Author')
# plt.ylabel('Number of Titles Read')
# plt.title('Top 5 Authors by Titles Read')
# plt.xticks(rotation=45, ha='right')
# plt.show()

                     Author  Number of Titles Read
54             Rick Riordan                     15
56            Sarah J. Maas                     10
2              Alice Oseman                      6
32          Jesse Armstrong                      4
34             Katee Robert                      4
..                      ...                    ...
27                    Homer                      1
28  Huw Lemmey & Ben Miller                      1
29          James Islington                      1
30         Jennette McCurdy                      1
64                Zimmerman                      1

[65 rows x 2 columns]

In [ ]:
# First book read in 2024
books['Download_Timestamp'] = pd.to_datetime(books['Download_Timestamp'])
sorted_books = books.sort_values(by='Download_Timestamp')
first_book = sorted_books.iloc[0]
last_book = sorted_books.iloc[-1]

print(f"The first book read was '{first_book['Title']}' by {first_book['Author']}, on {first_book['Download_Timestamp']}.")
print(f"The last?? (but def lying) book read was '{last_book['Title']}' by {last_book['Author']}, on {last_book['Download_Timestamp']}.")

The first book read was 'Fleabag: The Scriptures' by Phoebe Waller-Bridge, on 2023-09-07 16:02:31-08:00.
The last?? (but def lying) book read was 'Play It as It Lays' by Joan Didion, on 2024-11-12 19:34:55-08:00.

In [110]:
#Series Stats

series_counts = books.groupby('Series')['Title'].count().reset_index()
series_counts.columns = ['Series', 'Number of Books']

# Filter bc series with only 1 book shouldnt count as a series
series_with_multiple_books = series_counts[series_counts['Number of Books'] > 1]
unique_series_count = series_with_multiple_books['Series'].nunique()

print(f"The number of different series read is: {unique_series_count}")
print(series_with_multiple_books.sort_values(by='Number of Books', ascending=False))

The number of different series read is: 10
                              Series  Number of Books
18   Percy Jackson and the Olympians                6
0        A Court of Thorns and Roses                5
5                       Heartstopper                5
4                Dark Olympus Series                4
21                        Succession                4
23              The Trials of Apollo                4
6                  Heroes of Olympus                3
20  Stephen Fry's Greek Myths Series                3
24                   Throne of Glass                3
13                      Monk & Robot                2

In [ ]:
#fucking around with the book dimensions

total_thickness_in = (books['Thickness'].sum())
total_thickness_ft = total_thickness_in / 12
print(f"The total thickness of all books is: {total_thickness_in:.2f} inches or {total_thickness_ft:.1f} feet.")

total_width_in = (books['Width'].sum())
total_width_ft = total_width_in / 12
print(f"The total width of all books is: {total_width_in:.2f} inches or {total_width_ft:.1f} feet.")

total_height_in = (books['Height'].sum())
total_height_ft = total_height_in / 12
print(f"The total height of all books is: {total_height_in:.2f} inches or {total_height_ft:.1f} feet.")

The total thickness of all books is: 144.46 inches or 12.0 feet.
The total width of all books is: 608.46 inches or 50.7 feet.
The total height of all books is: 892.46 inches or 74.4 feet.

In [115]:
# Calculate the total height of all books pages lined up
total_page_count = books['Page Count'].sum()
print(f"The total page count of all books is: {total_page_count}")
# Calculate the height of the stacked pages (Height x Page Count for each book)
books['Total Height'] = books['Height'] * books['Page Count']

# Sum up the total height across all books
total_height = books['Total Height'].sum()

# Display the total height in inches and feet
total_height_inches = total_height
total_height_ft = total_height_inches / 12
total_height_miles = total_height_ft / 5280
total_height_space_needles = total_height_ft / 605
total_height_10k = total_height_miles / 6.21
print(f"The total length of all pages is:  {total_height_ft:.1f} feet or {total_height_miles:.1f} miles or {total_height_space_needles:.1f} Space Needles or {total_height_10k:.1f} 10k marathons")

The total page count of all books is: 46804
The total length of all pages is:  34040.0 feet or 6.4 miles or 56.3 Space Needles or 1.0 10k marathons

In [116]:
# Thickest books by page count
top_page_count = books.sort_values(by='Page Count', ascending=False).head(10)

# Display the top 10 books with the highest page count
print(top_page_count[['Title', 'Author', 'Page Count']])

                                                Title  \
58                            Complete Works of Plato
23  Building Java Programs: A Back to Basics Appro...
26                          Operating System Concepts
75                             A Little Life: A Novel
1       Succession - Season Two: The Complete Scripts
81                           A Court of Silver Flames
3       Succession – Season One: The Complete Scripts
98                                      Metamorphoses
32                                 The House of Hades
4     Succession - Season Three: The Complete Scripts

                                       Author  Page Count
58  Plato & John M. Cooper & D. S. Hutchinson        1848
23                 Stuart Reges & Marty Stepp        1232
26     Abraham Silberschatz & Peter B. Galvin        1095
75                           Hanya Yanagihara         832
1                             Jesse Armstrong         784
81                              Sarah J. Maas         768
3                             Jesse Armstrong         768
98                                       Ovid         768
32                               Rick Riordan         720
4                             Jesse Armstrong         720

In [117]:
#Genre Count
from collections import Counter
import matplotlib.pyplot as plt

all_genres = books['Categories'].dropna().str.split(',').sum()
genre_counts = Counter([genre.strip() for genre in all_genres])
genre_counts_df = pd.DataFrame(genre_counts.items(), columns=['Genre', 'Count']).sort_values(by='Count', ascending=False)
# print(genre_counts_df)

# plt.figure(figsize=(12, 8))
# plt.bar(genre_counts_df['Genre'], genre_counts_df['Count'])
# plt.title('Count of Books by Genre')
# plt.xlabel('Genre')
# plt.ylabel('Count')
# plt.xticks(rotation=45, ha='right')
# plt.tight_layout()
# plt.show()

#Pie Chart

# Exclude 'Fiction' and 'YA' and filter genres with more than 3 occurrences bc it was wonky
filtered_genre_counts = {genre: count for genre, count in genre_counts.items() if genre not in ['Fiction', 'YA'] and count >= 3}
filtered_genre_table = pd.DataFrame(list(filtered_genre_counts.items()), columns=['Genre', 'Count']).sort_values(by='Count', ascending=False)

# Display the table
print("Filtered Genre Breakdown Table (Excluding 'Fiction' and >= 3 Occurrences):")
display(filtered_genre_table)

# Prepare data for the pie chart
# labels = list(filtered_genre_counts.keys())
# sizes = list(filtered_genre_counts.values())

# # Plot the pie chart
# plt.figure(figsize=(10, 8))
# plt.pie(sizes, labels=labels, autopct='%1.0f%%', startangle=140)
# plt.title("Filtered Genre Breakdown (Excluding 'Fiction')")
# plt.axis('equal')  # Equal aspect ratio ensures the pie is circular.
# plt.show()

Filtered Genre Breakdown Table (Excluding 'Fiction' and >= 3 Occurrences):

              Genre  Count
5   Greek Mythology     37
1              Smut     15
2           Fantasy     13
7             Queer     12
8          Classics      8
4            Memoir      6
0            Script      5
3     Autobiography      4
6     Graphic Novel      4
9        Technology      4
10         Textbook      4
12      Short Story      4
11           Sci-Fi      3

In [118]:
#Total Money Spent
# Calculate the total amount spent on all books
total_spent = books['USD Sale Price'].sum()
print(f"The total amount spent on all books is: ${total_spent:.2f}")
print(f"The average amount spent on each book is: ${total_spent / len(books):.2f}")
print("but you pirated most of them so you didn't actually spend that much")

The total amount spent on all books is: $1503.94
The average amount spent on each book is: $14.32
but you pirated most of them so you didn't actually spend that much